<div class="container-fluid" style="position: relative; height: 100%; padding: 0; background-image: url(/img/triangle-bg.svg); background-size: cover;">  
  <div class="col-md-12" style="position: absolute; top: 50%; height: 20%; margin-top: -15%; width: 100%;">
    <form class="form-signin" ng-submit="login()">
      <p style="color: #8898AA;">Login</p>
      <div class="group">
        <label>
          <span>Email</span>
          <input class="field" placeholder="jane@doe.com" ng-model="email"/>
        </label>
        <label>
          <span>Password</span>
          <input class="field" placeholder="●●●●●●●●" type="password" ng-model="password"/>
        </label>
      </div>
      <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
