<div class="jumbotron main-head">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Let's keep your business organized.</h1>
            <p class="lead">KeepInStock helps you manage your inventory, sales, and customers all in one place.</p>
            <br>
            <p class="lead">
                <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
            </p>
            <!-- <p>Includes a 14-day free trial.</p> -->
        </div>
    </div>
</div>

<div class="container-hero text-center">
    <h1 id="hero-title" class="display-4">Centralize your data.</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="lead text-center">
                    Easily view, add, edit, and delete your inventory items all through a convenient interface.
                </p>
            </div>
            <div class="col-md-12 my-auto">
                <img src="/img/mainscreen.svg" style="width: 75%;">
            </div>
        </div>
    </div>
</div>

<div class="container-hero-primary text-center">
    <h1 id="hero-title" class="display-4">Built for small businesses.</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="lead text-center">
                    Everything you want, and nothing you don't. KeepInStock is built for small businesses to keep it easy to use, lightweight,
                    and cost-effective.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-hero-dark text-center">
    <h1 id="hero-title" class="display-4"><span class="fa fa-envelope-o"></span>&nbsp;Let's talk!</h1>
    <div class="col-md-6 offset-md-3">
        <p class="lead">
            I'm dedicated to making this software better every single day. If you have any suggestions or questions we should get in
            touch.
        </p>
    </div>
    </br>
    <a id="email" href="mailto:daniel@keepinstock.com" target="_top">daniel@keepinstock.com</a>
    </p>
</div>