<div class="main-head">
  <div class="header text-center">
    <h1 class="display-4">Easy-to-Use Inventory Software</h1>
    <p class="lead">Let's keep your inventory organized. It's easy to get started with in just minutes.</p>
    <a class="btn btn-lg btn-dark" href="/register">Get Started</a>
    <div class="img-container">
      <img src="/img/mainscreen.svg" style="width: 70%;">
    </div>
  </div>
</div>

<section id="pitch">
  <div class="container text-center">
    <h2 class="display-2">KeepInStock keeps your inventory organized</h2>
    <img src="/img/clouddia.svg" style="max-width:80rem; padding: 20px;">
    <div class="flow">
      <div class="item">
        <h3>Searchable</h3>
        <p>KeepInStock makes it easy to search your inventory, only showing you the relevant matches.</p>
      </div>
      <div class="item">
        <h3>Convenient Editing and Deletion</h3>
        <p>The intuitive interface helps you make accurate edits and removals to inventory items.</p>
      </div>
      <div class="item">
        <h3>Record Important Details</h3>
        <p>The details section allows you to manage important notes, like tracking numbers and item features.</p>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container text-center">
    <h2 class="display-2">All in one place</h2>
    <div class="col-md-6">
      <div class="feature">
        <div class="feature-image">
          <img src="/img/notepad.svg" style="width: 100%;">
        </div>
        <div calss="feature-body">
          <h3>Eliminate Spreadsheets</h3>
          <p>Spreadsheets are slow and are prone to being lost, deleted, or mismanaged. A centralized and dedicated solution for your business can be the key to organization.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-bottom: 74px;">
      <div class="feature">
        <div class="feature-image">
          <img src="/img/import.svg" style="width: 100%;">
        </div>
        <div calss="feature-body">
          <h3>Hassle-free Switch</h3>
          <p>Don't waste time trying to implement your data by hand. KeepInStock will implement your current inventory list and do its best to implement it into KeepInStock's format.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="container text-center">
    <h2 class="display-2">Pricing</h2>
    <div class="pricing">
      <h3>Pioneers Plan</h3>
      <div class="pricing-body">
        <div class="pricing-cost">
          <p>Free</p>
        </div>
        <div class="pricing-details">
          <ul style="padding: 0;">
            <li>Unlimited inventory items</li>
            <li>Unlimited item removals and deletions</li>
            <li>Unlimited account users</li>
            <li>Free initial inventory import</li>
            <li>Support directly from the developer</li>
          </ul>
        </div>
        <div class="pricing-button">
          <a class="btn btn-success" style="margin-top:20px;width:100%;" href="/register">Sign Up</a>
        </div>
      </div>
    </div>
    <!--<p>Includes a 14-day free trial</p>-->
  </div>
</section>
<section id="footer">
  <div class="container text-center">
    <div class="contact">
      <div class="col-md-12">
        <p>Built by <a href="https://twitter.com/Y29ja3M">@Y29ja3M</a> in Rochester, New York | <a href="mailTo:daniel@keepinstock.com">daniel@keepinstock.com</a></p>
      </div>
    </div>
  </div>
</section>