<div class="main-head">
  <div class="header text-center">
    <h1 class="display-4">Easy-to-Use Inventory Software</h1>
    <p class="lead">Let's keep your inventory organized. It's easy to get started with in just minutes.</p>
    <a class="btn btn-lg btn-dark" href="/register" >Get Started</a>
    <div class="img-container">
      <img src="/img/mainscreen.svg" style="width:80%;">
    </div>
  </div>
</div>

<div class="alt-container">
  <div class="container text-center">
    <h2 class="display-3">Built by and for small businesses</h2>
    <div class="col-md-12">
      <div class="col-md-4">
        <i class="fa fa-heart-o fa-5x" aria-hidden="true"></i>
        <h2>Important features</h2>
        <p class="info">Skip the enterprise features that are complicated and expensive. KeepInStock is built for small businesses to keep productivity up, and costs down.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
        <h2>Track your inventory</h2>
        <p class="info">"It's like an iPhone app on my computer!". Let's face it, spreadsheets are tedious. KeepInStock makes adding ,editing, and removing inventory quick and easy for all of your employees.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
        <h2>Multiple users</h2>
        <p class="info">Your business is growing and you need your employees to manage these tasks. No problem. There is no limit to the number of people who can use your account.</p>        
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <h2 class="display-3" style="padding-bottom:20px;">Nothing to lose, everything to gain.</h2>
  <div class="col-md-12">
    <p class="info">Try KeepInStock for free for 7 days. If you like it, and want to keep using it as it grows and get better, all you'll ever pay is <strong>$5/month</strong> for these great features:</p>
    <ul class="info" style="list-style:none; padding-top: 10px;">
      <strong>
        <li>Unlimited inventory.</li>
        <li>Unlimited users.</li>
        <li>Access to the least-complicated inventory management software.</li>
        <li>Support directly from the software developer.</li>
        <li>New features every month as KeepInStock grows.</li>
      </strong>
    </ul>
  </div>
</div>

<div class="alt-container text-center">
  <div class="container">
    <h2 class="display-3">Ready to give it a try?</h2>
    <p class="info">I'll be super excited if you give my software a go. I think you'll love it.</p>
    <a class="btn btn-dark btn-lg" href="/register">Sign Up</a>
  </div>
</div>

<div class="dark-container text-center">
  <div class="container">
    <h2 class="display-3">Send me an email</h2>
    <p class="info">Have questions or suggestions? Let's talk!<br><a href="mailto:daniel@keepinstock.com">daniel@keepinstock.com</a></p>
  </div>
</div>