<div class="main-head">
  <div class="header text-center">
    <h1 class="display-4">Easy-to-Use Inventory Software</h1>
    <p class="lead">Let's keep your inventory organized. It's easy to get started with in just minutes.</p>
    <a class="btn btn-lg btn-dark" href="/register">Get Started</a>
    <div class="img-container">
      <img src="/img/mainscreen.svg" style="max-width:80rem;">
    </div>
  </div>
</div>

<section id="pitch">
  <div class="container text-center">
    <h2 class="display-2">KeepInStock keeps your inventory organized</h2>
    <img src="/img/clouddia.svg" style="max-width:80rem; padding: 20px;">
    <div class="flow">
      <div class="item">
        <h3>Searchable</h3>
        <p>KeepInStock makes it easy to search your inventory, only showing you the relevant matches.</p>
      </div>
      <div class="item">
        <h3>Convenient Editing and Deletion</h3>
        <p>The intuitive interface helps you make accurate edits and removals to inventory items.</p>
      </div>
      <div class="item">
        <h3>Record Important Details</h3>
        <p>The details section allows you to manage important notes, like tracking numbers and item features.</p>
      </div>
    </div>
  </div>
</section>